<section class="container">
    <section class="row">
        <section class="col">
            <section class="row mt-5">
                <article class="col-12">
                    <h1 class="text-center">Lista de livros</h1>
                </article>
            </section>
<!--             <hr>
            <article class="form-group">
                <label for="search">Pesquisar</label>
                <input type="search" id="search" name="search" class="form-control">
            </article>
            <form action="/admin/pesquisaAdmin" method="GET">
                <article class="form-group">
                    <label for="searchDB">Pesquisar no DB</label>
                    <input type="search" id="searchDB" name="searchDB" class="form-control">
                    <button class="btn btn-success mt-3" type="submit">Pesquisar</button>
                </article>
            </form> -->
            <hr>
            <table id="tabelaLivrosAdmin" class="text-center table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>NOME</th>
                        <th>ISBN</th>
                        <th>FAIXA ETÁRIA</th>
                        <th>AUTOR</th>
                        <th>ANO</th>
                        <th>LOCALIZAÇÃO</th>
                        <th>EDITAR</th>
                        <th>DELETAR</th>
                    </tr>
                </thead>
                <tbody>
                    <% catalogoLivros.forEach(function(objeto){ %>
                        <tr>
                            <td>
                                <%= objeto.nome %>
                            </td>
                            <td>
                                <%= objeto.isbn %>
                            </td>
                            <td>
                                <%= objeto.faixaEtaria %>
                            </td>
                            <td>
                                <%= objeto.autor %>
                            </td>
                            <td>
                                <%= objeto.ano %>
                            </td>
                            <td>
                                <%= objeto.local %>
                            </td>
                            <td><a href="/admin/editarLivro/<%= objeto._id %>" class="btn btn-sm btn-success">editar</a>
                            </td>
                            <td><a href="/admin/deletarLivro/<%= objeto._id %>"
                                    class="btnDelet btn btn-sm btn-warning">apagar</a></td>
                        </tr>
                        <% }) %>
                            <% if(catalogoLivros==0) { %>
                                <tr>
                                    <td colspan="8" class="alert alert-warning text-center"> NENHUM LIVRO CADASTRADO
                                    </td>
                                </tr>
                                <% } %>
                </tbody>
            </table>

            <hr>
            <article class="row mb-5">
                <a href="/admin/cadastrarLivro" class="btn btn-primary mx-auto col-2">Cadastrar Livros</a>
            </article>

        </section>
    </section>
</section>
<br>