<section class="container">
    <section class="row">
        <section class="col">
            <section class="row mt-5">
                <article class="col-12">
                    <h1 class="text-center">Lista de livros</h1>
                </article>
            </section>
            <table id="tabelaLivrosAdmin" class=" text-center table table-hover table-bordered table-striped table-dark">
                <thead>
                    <tr>
                        <th>NOME</th>
                        <th>CDD</th>
                        <th>LCC</th>
                        <th>FAIXA ETÁRIA</th>
                        <th>AUTOR</th>
                        <th>ANO</th>
                        <th>LOCALIZAÇÃO</th>
                        <th>EDITAR</th>
                        <th>DELETAR</th>
                    </tr>
                </thead>
                <tbody>
                    <% catalogoLivros.forEach(function(objeto){ %>
                        <tr>
                            <td>
                                <%= objeto.nome %>
                            </td>
                            <td>
                                <%= objeto.cdd %>
                            </td>
                            <td>
                                <%= objeto.lcc %>
                            </td>
                            <td>
                                <%= objeto.faixaEtaria %>
                            </td>
                            <td>
                                <%= objeto.autor %>
                            </td>
                            <td>
                                <%= objeto.ano %>
                            </td>
                            <td>
                                <%= objeto.local %>
                            </td>
                            <td><a href="/admin/editarLivro/<%= objeto._id %>" class="btn btn-sm btn-success">editar</a></td>
                            <td><a href="/admin/deletarLivro/<%= objeto._id %>" class="btn btn-sm btn-danger">apagar</a></td>
                        </tr>
                        <% }) %>
                            <% if(catalogoLivros==0) { %>
                                <tr>
                                    <td colspan="8" class="alert alert-warning text-center"> NENHUM LIVRO CADASTRADO
                                    </td>
                                </tr>
                                <% } %>
                </tbody>
            </table>
            <article class="form-group">
                <label for="search">Pesquisar</label>
                <input type="text" id="search" name="search" class="form-control">
            </article>
            <hr>
            <article class="row mb-5">
                <a href="/admin/cadastrar" class="btn btn-primary mx-auto col-2">Cadastrar Livros</a>
            </article>
        </section>
    </section>
</section>